services:
  redroid13:
    build:
      context: .   
      dockerfile: Dockerfile               
    container_name: redroid13
    privileged: true
    restart: always

    ports:
      - "127.0.0.1:5555:5555"       # ADB 
    devices:
      - "/dev/kvm:/dev/kvm"         
      - "/dev/dri:/dev/dri"         
    volumes:
      - redroid-data:/data          
    shm_size: "2g"

    command: >
      androidboot.redroid_width=1080
      androidboot.redroid_height=1920
      androidboot.redroid_dpi=480
      androidboot.redroid_fps=60
      androidboot.redroid_gpu_mode=guest
      androidboot.use_memfd=true
      ro.setupwizard.mode=DISABLED

  garmin-bridge:
    build:
      context: ./bridge
      dockerfile: Dockerfile
    container_name: garmin-bridge
    restart: always

    volumes:
      - redroid-data:/android-data:ro
      - /var/lib/garmin-email-bridge:/var/lib/garmin-email-bridge

    env_file:
      - /home/debian/redroidtest/bridge/garmin.env

volumes:
  redroid-data:
